src/Poc.Deploy.FrontEndApp/Service References/DataOperationServices/Poc.Deploy.CommonModels.Commands.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Poc.Deploy.CommonModels.Commands" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Poc.Deploy.CommonModels.Commands" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="HireEmployeeByEmployerCommand">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeSalary" type="xs:int" />
      <xs:element minOccurs="0" name="EmployerId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HireEmployeeByEmployerCommand" nillable="true" type="tns:HireEmployeeByEmployerCommand" />
</xs:schema>