src/Poc.Deploy.FrontEndApp/Service References/DataReadServices/Poc.Deploy.CommonModels.Queries.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Poc.Deploy.CommonModels.Queries" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Poc.Deploy.CommonModels.Queries" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetAllEmployersDataQuery">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="GetAllEmployersDataQuery" nillable="true" type="tns:GetAllEmployersDataQuery" />
  <xs:complexType name="GetAllEmployersDataQueryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="tns:ArrayOfEmployerSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAllEmployersDataQueryResponse" nillable="true" type="tns:GetAllEmployersDataQueryResponse" />
  <xs:complexType name="ArrayOfEmployerSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployerSummaryData" nillable="true" type="tns:EmployerSummaryData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployerSummaryData" nillable="true" type="tns:ArrayOfEmployerSummaryData" />
  <xs:complexType name="EmployerSummaryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="EmployerId" type="xs:int" />
      <xs:element minOccurs="0" name="EmployerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalSalary" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployerSummaryData" nillable="true" type="tns:EmployerSummaryData" />
</xs:schema>